body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    /* Fuentes */
    font-family: "Raleway", sans-serif;
    /*font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
    -webkit-font-smooting: antialiased;
    -moz-font-smooting: antialiased;
    -moz-osx-font-smooting: antialiased;
    background-color: #e8e8e8;
}

#header {
    height: 80px;
    width: 100%;
    background: white;
}

.clearfix {
    clear: both;
    float: none;
}

.center {
    width: 75%;
    margin: 0px auto;
}

#logo {
    font-size: 25px;
    float: left;
    width: 85%;
}

#logo img {
    display: block;
    float: left;
    height: 55px;
    margin-top: 13px;
    margin-right: 10px;
}

#brand {
    display: block;
    margin: 0px;
    margin-top: -2px;
    margin-left: 0px;
    /*float: right;*/
}

.subheader {
    text-align: center;
    margin-left: -100px;
    font-size: 30px;
    color: black;
}

hr {
    background-color: #77777786;
    height: 1px;
    border: 0px;
    margin-bottom: 40px;
    width: 70%;
}


#content {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-bottom: 117px;
    height: 664px;
}

#content h1 {
    font-family: 'Raleway', sans-serif;
}

.mid-form {
    width: 30%;
    text-align: left;
    color: #777777;
    margin-left: 450px;
}

input {
    margin-top: 5px;
    margin-bottom: 10px;
    height: 25px;
    width: 100%;
}

select::-ms-expand {
    display: none;
}

select {
    display: inline-block;
    margin-bottom: 10px;
    width: 102%;
    height: 30px;
    box-sizing: border-box;
    /*padding: 0.5em 2em 0.5em 0.5em;*/
    border: 1px solid #8a8a8a;
    font: inherit;
    line-height: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
    background-position: right 15px top 0.6em, right 10px top 0.6em;
    background-size: 5px 5px, 5px 5px;
    background-color: white;
    border-radius: 3px;
}

.checkbox label{
    display: inline-block;
    width: 100%;
}

.checkbox .form-checkbox{
    height: 20px;
    width: 10%;
    margin-left: 2px;
    margin-right: -12px;
}
    
.btn-success {
    width: 100px;
    height: 45px;
    background: #89b23b;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size : 20px;
    font-weight: normal;
    border-radius: 4px;
    border-color: #1f9123;
}

.btn-success:hover {
    background: #1f9123;
}
    
#footer {
    display: block;
    background: #f7f7f7;
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #444;
    position: absolute;
    bottom: 0;
}

#footer p {
    margin: 0px;
    margin-bottom: -50px;
    padding: 0px;
}

/* RESPONSIVE */
/*Desde los 0px hasta los 1488px de pantalla*/
@media (max-width: 1834px) {
    .checkbox label{
        width: 110%;
    }

    .checkbox .form-checkbox{
        margin-left: 0px;
        margin-right: -14px;
    }

    #footer p {
        font-size: 15px;
    }
}

@media (max-width: 1716px) {
    .mid-form {
        width: 35%;
        margin-left: 380px;
    }
    #footer p {
        font-size: 14px;
    }
}

@media (max-width: 1573px) {
    #logo {
        font-size: 22px;
        float: left;
        width: 83%;
    }

    #logo img {
        height: 45px;
        margin-top: 13px;
        margin-right: 10px;
    }
}

@media (max-width: 1470px) {
    .mid-form {
        width: 40%;
        margin-left: 280px;
    }
}

@media (max-width: 1420px) {
    #header {
        height: 70px;
    }
    
    #logo {
        font-size: 20px;
    }

    #logo img {
        height: 40px;
    }

    .subheader {
        font-size: 18px;
    }

    #content {
        font-size: 13px;
        margin-bottom: 117px;
        height: 664px;
    }

    #footer p {
        font-size: 12px;
    }
}

@media (max-width: 1272px) {
    #logo img {
        height: 30px;
    }
    #header {
        height: 60px;
    }
}

@media (max-width: 1221px) {
    .center {
        width: 90%;
    }
    #logo img {
        margin-right: 10px;
    }
}

@media (max-width: 1018px) {
    .center {
        width: 95%;
    }

    .checkbox .form-checkbox{
        margin-left: 0px;
        margin-right: -10px;
    }
}

@media (max-width: 1018px) {
    #logo {
        float: inline-end;
    }
    #logo img {
        margin-left: -150px;
    }

    #footer p {
        font-size: 10px;
    }
}

@media (max-width: 830px) {
    #logo img {
        height: 25px;
        margin-left: -125px;
    }

    #logo {
        font-size: 17px;
    }
    
    .subheader {
        font-size: 14px;
    }

    .mid-form {
        width: 50%;
        text-align: left;
        color: #777777;
        margin-left: 180px;
    }

    #footer p {
        font-size: 0.54em;
    }
}